.headerCart {
  position: relative;
  margin-left: -0.5rem;
  .cartQuantity {
    position: absolute;
    left: 15px;
    top: 0;
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    color: #fff;
  }
}

.burger,
.cartMobile {
  display: none;
}
.burger {
  color: #fff;
  .icon {
    margin-right: 8px;
  }
}

.headerWishlist {
  position: relative;
  .wishlistQuantity {
    position: absolute;
    left: 15px;
    top: 0;
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    color: #fff;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header {
  a {
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }

  background: #000;
  .content {
    display: flex;
    align-items: center;
    margin: 0 -15px;
    .left {
      .list {
        display: flex;
        .item {
          padding: 25px 0 25px 0;
          margin-right: 28px;
          font-weight: 300;
          font-size: 14px;
          color: #fff;
        }
      }
    }
    .center {
      text-align: center;
    }
    .right {
      .list {
        display: flex;
        align-items: center;
        transition: all 0.5s linear;
        justify-content: flex-end;
        .item {
          padding: 25px 0 25px 0;
          color: #fff;
          font-size: 14px;
          font-weight: 300;
          margin-right: 24px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.icon {
  margin-right: 8px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
  color: #000 !important;
  margin-right: 15px;
  input {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff !important;
    font-weight: 300;
    font-size: 14px;
    &::placeholder {
      color: white !important;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
.searchList {
  div {
    position: absolute;
    top: 75px;
    left: 0;
    width: 310px;
    height: auto;
    background: #ffffff;
    padding: 15px;
    font-size: 14px;
  }
  a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    color: black !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 990px) {
  .wishlist {
    display: none;
  }
  .header .content .left .list {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
  }
  .headerUser,
  .user {
    display: none;
  }
  .search {
    margin-right: 1.5rem;
    span {
      margin-right: 0;
    }
  }
  .search {
    input {
      position: absolute;
      width: calc(100vw - 170px);
      height: 100%;
      z-index: 10;
      top: 0;
      right: 30px;
    }
  }
  .searchList {
    div {
      width: 100vw;
      left: calc(-100vw + 40px);
    }
  }
}

@media (max-width: 620px) {
  .logo {
    svg {
      width: 100%;
    }
  }
  .cart {
    display: none;
  }
  .cartMobile {
    display: block;
  }
  .title {
    margin-right: 0;
  }
  .header .content .right .list .item.search {
    margin-right: 0;
  }
}
