.banners {
  display: flex;
}
.name {
  font-size: 16px;
  font-weight: 400;
  color: #020415;
  margin-bottom: 20px;
}
.banner {
  position: relative;
  height: calc(100vh - 75px);
  width: 100%;
  cursor: pointer;
  &:hover {
    .button {
      display: block;
    }
    .image {
      transform: scale(1.2);
    }
  }
  .imageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 14px;
  }
  .image {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    transition: all 0.3s ease;
  }

  .button {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 56px;
    display: none;
    a {
      color: #040d5e;
      font-size: 13px;
      font-weight: 400;
      padding: 14px 22px;
      background: #fff;
      text-decoration: none;
    }
  }
}
.title {
  font-weight: 400;
  font-size: 36px;
  color: #020415;
  text-align: center;
  margin: 36px 0 72px 0;
}

.bannerLink {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 700px) {
  .title {
    display: none;
  }
  .banners {
    flex-direction: column;
  }
  .banner {
    height: 366px;
    .imageWrapper {
      margin-bottom: 0;
      .image {
        background-position-y: -80px !important;
      }
    }
    .button {
      display: block;
      bottom: 40%;
      left: 50%;
      transform: translate(-50%, 40%);
    }
  }
  .name {
    display: none;
  }
}
