.order {
  width: 90%;
}
.rightInner {
  border-radius: 2px;
  padding: 26px;
  background: #03040F;
  margin-bottom: 36px;
  border: 1px solid #e2e3ec;
  a {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    padding: 16px 0;
    background: #00554c;
    text-decoration: none;

    img {
      margin-left: 10px;
    }
  }
}
.zoodpay {
  pointer-events: none;
  opacity: 0.5;
  border: 1px solid red;
}
.deliveryText {
  font-weight: 300;
  font-size: 14px;
  color: #38383f;
  margin-top: 16px;
}
.minWidth {
  width: 32% !important;
}
.rightTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}
.rightList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14px;

  &:last-of-type {
    font-weight: 500;
    font-size: 16px;
  }
}

.rightListLast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 24px;
  img {
    margin-right: 10px;
  }
}
.flex {
  display: flex;
  .inputs {
    &:first-of-type {
      margin-right: 20px;
    }
    width: 50%;
  }
}
.label {
  font-family: Fira Sans Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 32px;
  color: #020415;
}

.orderButton {
  width: 100%;
  padding: 16px 0;
  border: 0;
  background: #00554c;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  &:hover {
    background: #009181;
  }
}
.inputs {
  position: relative;
  margin-bottom: 32px;

  input:focus + label {
    transform: translateY(-66px);
    font-family: Fira Sans Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #38383f;
  }
  input.valid + label {
    transform: translateY(-66px);
  }
  textarea:focus + label {
    transform: translateY(-66px);
  }
  textarea.valid + label {
    transform: translateY(-66px);
  }
  .errorMessage {
    position: absolute;
    top: 40px;
    font-weight: 300;
    font-size: 12px;
    color: #ff1d53;
  }
  label {
    transform: translateY(-33px);
    transition: 0.3s;
    font-family: Fira Sans Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #38383f;
  }
  .error {
    border-color: #ff1d53;
  }
  .error + label {
    color: #ff1d53;
  }

  input,
  select,
  textarea {
    width: 100%;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #95adab;
    outline: #00554c auto 0;
    border-radius: 0;
    margin-bottom: 20px;
    background: transparent;
    font-family: Fira Sans Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #020415;
    &::placeholder {
      color: #38383f;
      font-family: 'Oswald';
    }
  }
  input {
    margin-bottom: 0;
    font-family: Fira Sans Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #020415;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('/catalog/smallArrowDown.svg') no-repeat 98% center;
  }
  textarea {
    margin-bottom: 0;
    font-family: 'Oswald';
    resize: none;
    padding-top: 10px;
    height: 40px;
  }
}
.payments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 36px;
  span {
    width: 100%;
    svg {
      path {
        fill: #878897;
      }
    }
  }

  button {
    margin-bottom: 17px;
    display: flex;
    width: 49%;
    border: 1px solid #e2e3ec;
    border-radius: 2px;

    font-size: 13px;
    color: #878897;
    padding: 0 12px;
    background: #ffffff;
    span {
      padding: 34px 0;
    }
    .checker {
      width: 19px;
      height: 18px;
      border: 1.5px solid #878897;
      border-radius: 50%;
      position: relative;
      margin-top: 16px;
    }
    img {
      margin-right: 10px;
    }
    &.active {
      .checker::after {
        position: absolute;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #020415;
        border-radius: 50%;
        border-color: #040d5e;
      }
      background: #e6e8ff;
      border: 1px solid #040d5d !important;
      color: #020415;
    }
  }
}
.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order {
  margin-bottom: 100px;
}
.submitButton {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #E31E25;
  padding: 14px 0;
  width: 100%;
  text-align: center;
  display: block;
  border: 0;
}
.toCart {
  font-size: 16px;
  font-weight: 400;
  color: #03040F;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  a {
    &:hover {
      color: #03040F;
      text-decoration: none;
    }
  }
  span {
    margin-right: 8px;
  }
}

.lasthero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  height: 40px;
  margin-top: 30px;
  font-size: 14px;
  color: #9b9b9b;
  span {
    font-weight: 500;
  }
}

.loaderAnimation {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid black;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
  cursor: not-allowed;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.emptyCart {
  width: 100%;
  margin: 50px auto;
  height: 600px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  a {
    font-weight: bold;
    text-decoration: underline !important;
  }
}

@media (max-width: 830px) {
  .order {
    width: 100%;
  }
  .right,
  .left {
    padding: 0 15px;
  }
  .payments {
    margin-bottom: 32px;
    button {
      font-size: 15px;
      width: 100% !important;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }
  .deliveryText {
    margin-top: 0;
  }
  .flex {
    display: block;
    .inputs {
      &:first-of-type {
        margin-right: 0;
      }
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .submit {
    display: block;
    .submitButton {
      margin-bottom: 20px;
    }
  }
}
