.orders {
  .orderDate {
    font-weight: 300;
    font-size: 14px;
    color: #38383f;
    margin-bottom: 14px;
  }
  .order {
    padding: 32px;
    background: #fbfbff;
    border: 1px solid #e2e3ec;
    margin-bottom: 24px;
    .list {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      .item {
        button {
          font-weight: 400;
          font-size: 16px;
          color: #878897;
          background: transparent;
          border: 0;
          margin-top: 26px;
          &:hover {
            color: #040d5e;
          }
        }
        .name,
        .value {
          font-weight: 300;
          font-size: 14px;
          color: #38383f;
          margin-bottom: 6px;
        }
        .value {
          color: #020415;
        }
      }
    }
  }
}
.activeOrder {
  padding: 32px;
  background: #fbfbff;
  border: 1px solid #e2e3ec;
  margin-bottom: 24px;
  .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    button {
      font-weight: 400;
      font-size: 16px;
      color: #878897;
      background: transparent;
      border: 0;
      &:hover {
        color: #040d5e;
      }
    }
    .title {
      font-weight: 400;
      font-size: 16px;
      color: #020415;
    }
  }
  .productList {
    .image img{
      width: 65px;
      height: 96px;
    }
  }
  .list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    .item {
      .name,
      .value {
        font-weight: 300;
        font-size: 14px;
        color: #38383f;
        margin-bottom: 6px;
      }
      .value {
        color: #020415;
      }
    }
  }
}

.cardlist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 56px;
}

.card {
  display: flex;
  margin-bottom: 26px;
}

.img {
  width: 65px;
  height: 96px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 10px;
}
.details {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cardBottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  button {
    background: #fff;
    border: 0;
    font-weight: 400;
    font-size: 16px;
    color: #878897;
    &:hover {
      color: #040D5D;
      
    }
  }
}

.title {
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  color: #051f1c;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: 400;
  font-size: 15px;
  color: #020415;
  margin-bottom: 4px;
}
.brand {
  font-weight: 300;
  font-size: 15px;
  color: #38383F;
  margin-bottom: 24px;
}
.price {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-weight: 400;
  font-size: 15px;
  .salePrice {
    color: #f4153e;
    margin-right: 8px;
  }
  .normalPrice {
    text-decoration-line: line-through;
    color: #787878;
    margin-right: 8px;
    font-weight: 400;
    font-size: 14px;
  }
  .discountPrice {
    width: 45px;
    height: 25px;
    color: #4c6d6a;

    font-weight: 400;
    font-size: 13px;
    background: #fff;
    border: 1px solid #4c6d6a;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.color {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  color: #38383F;
  margin-bottom: 14px;
  line-height: 17px;
  span {
    color: #020415;
    margin-left: 8px; 
  }

}
.size {
  font-weight: 300;
  font-size: 14px;
  color: #38383F;
  margin-bottom: 14px;
  line-height: 17px;
  span {
    color: #020415;
    margin-left: 8px;
  }
  select {
    border: 0;
    padding-right: 20px;
    margin-left: 5px;
    font-weight: 400;
    color: #4c6d6a;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(/CaretCircleDown.svg) no-repeat right;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}


.orderReview {
  border-radius: 2px;
  padding: 26px;
  background: #FBFBFF;
  border: 1px solid #E2E3EC;
  margin-bottom: 32px;
}

.show,
.removeImg {
  display: none;
}

.methodsText {
  font-weight: 400;
  font-size: 14px;
  color: #4c6d6a;
  margin-bottom: 20px;
}
.methodsImages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toCatalog {
  font-size: 16px;
  font-weight: 400;
  color: #040D5E;
  width: 100%;
  text-align: center;
  a {
    &:hover {
      color: #040D5E;
      text-decoration: none;
    }
  }
  span {
    margin-right: 8px;
  }
}
.toOrder {
  a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #040D5E;
  padding: 14px 0;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 34px;
 
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.content {
  font-weight: 400;
  font-size: 15px;
  padding: 20px;
  background: #f3f7f7;
  margin-bottom: 20px;
}
.cardBottomMob {
  display: none;
}

.emptyCart {
  background: #FBFBFF;
  border: 1px solid #E2E3EC;
  padding: 14px 20px 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .i{
    display: flex;
    align-items: center;
    i{
      display: block;
      margin-right: 14px;
    }
    p{
      margin: 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 22px;
      strong{
        font-weight: 400;
      }
    }
  }
  a{
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #040D5E;
    border: none;
    background: none;
    font-weight: 400;
    &:hover{
      text-decoration: none;
    }
  }
}

@media (max-width: 1023px) {
  .wrapper {
    flex-direction: column;
    margin: 0;
  }
  .left {
    width: 100%;
  }
  .cardlist {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
  }
  .card {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;

    position: relative;
  }

  .img {

    object-fit: cover;
    margin-right: 20px;
  }
  .removeImg {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .nameRemove {
    font-size: 13px;
    height: 10px;
    border-bottom: none;
    button {
      display: none;
    }
  }
  .price {
    border-bottom: none;
  }

  .right {
    width: 100%;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}

@media (max-width: 600px) {
  .orders {
    .order {
      padding: 26px;
      
      .list {
        position: relative;
        padding-bottom: 26px;
        justify-content: flex-start;
        button {
          padding: 0;
          position: absolute;
          left: 0;
          bottom: 0;
        }
       flex-wrap: wrap;
       .item {
        margin-right: 32px;
         
       }
      }
    }
  }
  .activeOrder {
    .list {
      flex-wrap: wrap;
      justify-content: flex-start;
      .item {
        
   
          margin-right: 32px;
         
        
      }
      
    }
  }

  .name {
    margin-bottom: 20px;
  }
  .price {
    display: block;
    font-size: 15px;
    .salePrice {
      display: block;
      margin: 0;
    }
    .normalPrice {
      margin: 0;
      text-align: right;
      font-size: 13px;
      display: block;
    }
    .discountPrice {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .img {
    height: 109px;
  }
  .details {
    position: unset;
  }
  .title {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .color {
    height: auto;
    margin-bottom: 14px;
  }
  .name {
    margin-bottom: 16px;
    font-size: 13px;
  }
  .card {
    padding-bottom: 60px;
    border-bottom: 1px solid #f3f7f7;
  }
  .cardBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 14px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .size {
      margin: 0;
    }
  }
}
